
.class-panel{
    width: 400px;
    text-align: center;
    background-color: #fff;
}

.class-panel{
    padding: 10px 0px;
}

.class-item{
    border: 1px solid #ddd;
    margin: 16px 20px;
    padding: 10px;
}

.class-name{
    font-size: 18px;
    color: #0099cc;
}

.class-info-item{
    font-size: 14px;
    display: inline-block;
    margin: 8px 20px;
}